# indian face dataset
a1/indian-face-dataset/

# subset of indian face dataset (no repeats)
merged_faces/

# celebA dataset
a1/celeb-a/

# python cache
a1/__pycache__/
a2/__pycache__/

# virtual env
venv